.newArticlePage {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    text-align: left;
}

.error {
    color: #d32f2f;
    font-weight: bold;
    margin-bottom: 1rem;
}

.backButton {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #605f5f;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}

.backButton:hover {
    background-color: #5d5dff;
}

.backButton:disabled {
    background-color: #999;
    cursor: not-allowed;
    color: #666;
}